html { 
    background: #252526;
}

body {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

.element-detail {
    list-style-type: '';
    background: #2d2d30;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: #000000 1px 0 10px;
    font-size: 28px;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border: none;
    outline: none;
    cursor: pointer;
}

.element-detail:hover {
    outline: solid #ffffff;
}

details[open] > .element-detail {
    outline: solid #007acc;
}

.sub-detail {
    width: 75%;
    height: 30px;
    font-size: 24px;
}

.sub-detail-child {
    width: 70%;
}

.detail-icon {
    height: 40px;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 15%;
}

.sub-detail-icon {
    height: 30px;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 15%;
}

.container {
    background: #181818;
    color: #ffffff;
    font-size: 30px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.container-header {
    font-size: 24px;
}

.tag {
    color: #ccccff;
    cursor: pointer;
}

.std-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.std-button {
    width: 100px;
    height: 40px;
    background: #2d2d30;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border: none;
    outline: none;
    color: white;
    margin: 1px;
    font-size: 20px;
    cursor: pointer;
}

#fav-btn {
    background: #2d2d30;
    width: 45px;
    height: 45px;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    color: #000000;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#fav-btn:hover {
    border-color: #ffffff;
    color: #ffffff;
}

#fav-btn.fav-on {
    border-color: #ffd700;
    color: #ffd700;
}

.tabbutton {
    width: 200px;
    height: 80px;
    background: #2d2d30;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border: none;
    outline: none;
    color: white;
    margin: 1px;
    font-size: 20px;
    cursor: pointer;
}

.tabbutton:hover, .std-button:hover {
  outline: solid #ffffff;
}

.tabbutton.active {
  outline: solid #007acc;
}

.btn-icon {
    width: 70px;
    vertical-align: middle;
    position: relative;
    left: -10px;
}

#footer, #header {
    font-family: sans-serif;
    font-size: 17px;
    text-align:center;
    background: #000000;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    width:300px;
    margin:auto;
}

#copyright {
    font-family: sans-serif;
    font-size: 12px;
    color: #666666;
    margin: 10px;
}

#issues {
    font-family: sans-serif;
    font-size: 20px;
    text-align:center;
    background: #301919;
    border-color: #000000;
    border-radius: 20px;
    border-style: solid;
    width:80%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;
}

.navigation {
    width: 45px;
    height: 45px;
    border-color: #007acc;
    border-radius: 5px;
    border-style: solid;
    color: #007acc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation:hover {
    border-color: #ffffff;
    color: #ffffff;
}

.popup {
    border-radius: 25px;
    border: 2px solid #000633;
    padding: 20px;
    background-color: #005291;
    position:fixed;
    top:5%;
    left:5%;
    z-index:100;
    text-align: center;
    font-size: 25px;
    width: 12em;
    color: #ffffff;
    align-items: center;
}

#titleheader {
    border: 5px solid #000000;
    border-radius: 10px;
}

.loading {
    background: url(../assets/ui/loading.gif) no-repeat;
    min-width : 138px;
    max-width : 138px;
    height: 78px;
    border: 2px solid #808080;
    border-radius: 10px;
}

.clickable {
  cursor: pointer;
}

#filter {
    background: #91a0b8b0;
    border-color: #000000;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border-style: solid;
    width:500px;
    margin: 10px;
}

#filter:hover {
    background: #ffffff;
}

::placeholder {
    color: #111111;
    opacity: 0.6;
}

.tabcontent {
    padding: 10px;
    font-size: 20px;
    text-align: start;
}

.index-image {
    max-height: 80px;
}

.preview {
    min-width : 138px;
    max-width : 138px;
    height: 78px;
    border: 2px solid #808080;
    border-radius: 10px;
}

.preview-noborder {
    min-width : 140px;
    max-width : 140px;
    height: 80px;
}

.sky-event {
    background-color: #73ffff;
}

img {
    object-fit: contain;
}

.img-link {
    width: 60px;
    height: 60px;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
}

.img-link:hover {
    border-color: #ffffff;
}

.asset {
    border: 2px solid #333333;
    min-width: 80px;
    min-height: 100px;
    max-width: 60%;
    max-height: 350px;
}

.skycompass {
    max-width: min(350px, 95%);
    max-height: 400px;;
    border: 2px solid #e0ffff;
    border-radius: 10px;
    background: url(../assets/ui/skycompass.png) no-repeat bottom left 0% / 15%;
}

.mypage-btn
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    z-index: 1;
}

.homepage-ui {
    width: 400px;
    height: 588.430px;
    white-space: nowrap;
}

.homepage-ui:before {
    position: absolute;
    content: '';
    background: url(../assets/ui/home_ui.png) no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 588.430px;
}

.homepage-bg {
    background: url(../assets/ui/home_bg.jpg) no-repeat;
    background-size: 400px 588.430px;
    max-width: 400px;
    max-height: 588.430px;
    width: 400px;
    height: 588.430px;
}

.link {
    background: url(../assets/ui/link.png) no-repeat bottom left 0% / 15%;
}

.corner-icon {
    height: 25px;
}

.more {
    background: url(../assets/ui/more.png) no-repeat bottom left 0% / 20%;
}

a:link {
    color: #00ffff;
    font-size: 1em;
}

a:visited {
    color: #aaffff;
    font-size: 1em;
}

a:hover {
    color: #ffaaaa;
    font-size: 1em;
}

a:active {
    color: #ff0000;
    font-size: 1em;
}

.story {
    background: url(../assets/ui/event.png) no-repeat;
    background-size: 100% 100%;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-align: center;
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    position: relative;
}

.sound-file {
    background: url(../assets/ui/sound.png) no-repeat;
    background-size: 100% 100%;
    width: 120px;
    height: 120px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-align: center;
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    position: relative;
}

.sound-link {
    position: absolute;
    bottom: 6px;
    left: 25px;
    width: 70px;
    height: 20px;
}

.checkbox {
    width: 25px;
    height: 25px;
}

.checkbox-label {
    font-size: 20px;
}

@media (hover: none) { /* mobile stuff */
    body {
        font-size: 50px;
    }

    .element-detail {
        width: 80%;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 40px;
    }

    .sub-detail {
        height: 70px;
        font-size: 25px;
    }

    .detail-icon {
        height: 60px;
        margin-left: 5%;
        margin-right: 15%;
    }

    .sub-detail-icon {
        height: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container {
        font-size: 30px;
    }

    .container-header {
        font-size: 40px;
        line-height: 1.5;
    }

    .std-button {
        width: 200px;
        height: 80px;
        font-size: 50px;
        margin: 10px;
    }

    #fav-btn {
        width: 80px;
        height: 80px;
        font-size: 52px;
    }

    .tabbutton {
        width: 400px;
        height: 160px;
        font-size: 40px;
    }

    .btn-icon {
        width: 100px;
        left: -20px;
    }

    #footer, #header {
        font-size: 30px;
        width:600px;
        line-height: 1.5;
    }

    #copyright {
        font-size: 24px;
        margin: 20px;
    }

    #issues {
        font-size: 40px;
        width:80%;
    }

    .navigation {
        width: 90px;
        height: 90px;
    }

    .popup {
        font-size: 50px;
        width: 15em;
    }

    .loading {
        min-width : 138px;
        max-width : 138px;
        height: 78px;
    }

    #filter {
        font-size: 70px;
        width:60%;
    }

    .tabcontent {
        font-size: 40px;
    }

    .index-image {
        max-height: 160px;
    }

    .preview {
        min-width : 278px;
        max-width : 278px;
        height: 158px;
    }

    .preview-noborder {
        min-width : 280px;
        max-width : 280px;
        height: 160px;
    }

    .img-link {
        width: 120px;
        height: 120px;
        margin: 5px;
    }

    .asset {
        min-width: min(200px, 40%);
        max-width: min(350px, 50%);
    }

    .skycompass {
        min-width: min(200px, 40%);
        max-width: min(350px, 50%);
        max-height: 350px;
        background: url(../assets/ui/skycompass.png) no-repeat bottom left 0% / 25%;
    }

    .mypage-btn
    {
        width: 100px;
    }

    .homepage-ui {
        width: 605px;
        height: 890px;
    }

    .homepage-ui:before {
        background-size: 100% 100%;
        width: 605px;
        height: 890px;
    }

    .homepage-bg {
        background-size: 605px 890px;
        max-width: 605px;
        max-height: 890px;
        width: 605px;
        height: 890px;
    }

    .story {
        font-size: 32px;
    }

    .sound-file {
        width: 240px;
        height: 240px;
        font-size: 32px;
    }

    .sound-link {
        bottom: 5px;
        left: 50px;
        width: 140px;
        height: 40px;
    }

    .checkbox {
        width: 70px;
        height: 70px;
    }

    .checkbox-label {
        font-size: 40px;
    }
}