html { 
    background: url(../assets/ui/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

summary {
    background: url(../assets/ui/button_bg.png) no-repeat;
    background-size: 100% 100%;
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-shadow: #000000 1px 0 10px;
}

button {
    background: url(../assets/ui/button_bg.png) no-repeat;
    background-size: 100% 100%;
    width: 220x;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 30px;
    text-shadow: #000000 1px 0 10px;
    border-style: none;
}

footer, #header {
    font-family: sans-serif;
    font-size: 15px;
    text-align:center;
    background: #000000b0;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    width:300px;
    margin:auto;
}

#to-top, #to-bottom {
    width: 45px;
    height: 45px;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
}

#to-top {
    transform: scaleY(-1);
}

#header {
    color: white;
}

.subdetails {
    background: #00000040;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    margin:auto;
}

.preview {
    padding-right: 32.7975px;
    padding-left: 32.7975px;
    max-height: 80px;
    border: 2px solid #808080;
    border-radius: 10px;
}

img {
    object-fit: contain;
}

small {
    font-size: 16px;
}

#titleheader {
    border: 5px solid #000000;
    border-radius: 10px;
}

#version {
    font-size: 16px;
}

.loading {
    background: #ff0000;
    background: url(../assets/ui/loading.gif); 
    width: 32px;
    height: 32px;
}

.clickable {
  cursor: pointer;
}

.result {
    background: #000000b0;
    border-color: #000000;
    color: #ffffff;
    font-size: 40px;
    border-radius: 10px;
    margin: 1em;
    border-style: solid;
}

.result-header {
    font-size: 24px;
    width:600px;
    margin:auto;
}

#filter {
    background: #91a0b8b0;
    border-color: #000000;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    border-style: solid;
}

#manual {
    background: #91a0b8b0;
    border-color: #000000;
    color: #000000;
    font-size: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

#manuallink {
    text-decoration: none;
    color: #000000;
}

#filter:hover {
    background: #ffffff;
}

::placeholder {
    color: #111111;
    opacity: 0.6;
}

h3 {
    font-size: 20px;
}

.asset {
    border: 2px solid #333333;
}

.skycompass {
    max-width: 480px;
    max-height: 400px;;
    border: 2px solid #e0ffff;
    border-radius: 10px;
    background: url(../assets/ui/skycompass.png) no-repeat bottom left 0% / 15%;
}

.content {
    background-image: url(../assets/ui/text_top.png), url(../assets/ui/text_bottom.png), url(../assets/ui/text_middle.png);
    background-position: left top, left bottom, left center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, 100% 90%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 50px 80px 50px;
    color: #ffffff;
    text-align: left;
    text-shadow: #000000 1px 0 10px;
}

a:link {
    color: red;
    font-size: 1em;
}

a:visited {
    color: pink;
    font-size: 1em;
}

a:hover {
    color: white;
    font-size: 1em;
}

a:active {
    color: yellow;
    font-size: 1em;
}